<div style="width: 90%;padding: 50px;background-color: #e8fbf6;border-radius: 10px; margin-top: 30px;" class="m-auto">
  <ng-container *ngIf="posts$ | async as posts; else loading">
    <ng-container *ngIf="posts.length > 0; else noPosts">
      <table class="tbl box-shadow">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Post</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
            }; let i = index;">
            <th scope="row"> {{ i + 1}}</th>
            <td>
              <img src="{{postImageUrl + post?.postImgPath}}" width="90px" style="border-radius: 15px;padding: 10px;" alt="">
              </td>
            <td class="">{{post.title | titlecase | limitText}}</td>
            <td>{{post.category.catName| titlecase }}</td>
            <td>
              <span class="badge badge-pill badge-success" >
                {{post.status}}
              </span>
            </td>
            <td>
              {{post.createdAt | date}}
            </td>
            <td>
              <a class="btn" [routerLink]="['/dashboard/manage-posts/',post.id]"><i class="fa-solid fa-eye" style="color: #0011ff;"></i></a>
              <a class="btn" [routerLink]="['edit',post.id]" ><i class="fa-solid fa-pen-to-square" style="color: #ffe100;"></i></a>
              <button class="btn" (click)="deletePostEventEmitter(post.id)"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></button>
              <button *ngIf="!post.isFeatured" class="btn-sm btn btn-primary" (click)="featurePostEventEmitter(post.id)">Click to Featured</button>
              <button *ngIf="post.isFeatured" class="btn-sm btn btn-danger" (click)="featurePostEventEmitter(post.id)">Click to UnFeatured</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="d-flex justify-content-center">
        <pagination-controls class="pagination"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </ng-container>
    <ng-template #noPosts>
      <div class="text-center">
        No Posts available at the moment.
      </div>
    </ng-template>
  </ng-container>


    </div>
    <ng-template #loading>
      <br>
      <br>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
