<div style="width: 90%;padding: 50px;background-color: #e8fbf6;border-radius: 10px; margin-top: 30px;" class="m-auto">
<ng-container *ngIf="postImages$ | async as postImages">
  <ng-container *ngIf="postImages.length > 0; else noPosts">
    <table class="tbl box-shadow">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Image</th>
          <th>Name</th>
          <th>Size</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postImage of postImages | paginate
        : {
            itemsPerPage: tableSize,
            currentPage: page,
          }; let i = index;">
          <th scope="row"> {{ i + 1}}</th>
          <td>
            <img src="{{serverUrl + postImage.photoPath}}" width="90px" style="border-radius: 15px;padding: 10px;" alt="">

          </td>
          <td>
            {{postImage.name}}
          </td>
          <td>
            {{postImage.size}}
          </td>
          <td>
            {{postImage.type}}
          </td>

          <td>
            <button class="btn" (click)="deleteImage(postImage.id)"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-center">
      <pagination-controls class="pagination"
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </ng-container>
</ng-container>

  <ng-template #noPosts>
    <div class="text-center">
      No Posts Images available at the moment.
    </div>
  </ng-template>
  </div>
