
<div style="margin:50px 0px;">
  <div style="width: 60%;padding: 50px;background-color: #e8fbf6;border-radius: 10px;" class="m-auto">
      <div class="row text-white justify-content-center">
        <div class="col-md-1"></div>
        <div [routerLink]="'categories'" class="col-md-5 text-center bg-primary dash-item" style="border-radius: 10px;padding: 5px 1px;">
          <br>
          <div >
            <i class="fa-solid fa-clipboard-list font-65px" style="color: #ffffff;"></i>
          </div>
          <br>
          <h3>Category</h3>
          <p>Manage your Category Details Here</p>
        </div>
        <div class="col-md-1"></div>
        <div [routerLink]="'manage-posts'" class="col-md-5 text-center bg-primary dash-item" style="border-radius: 10px;padding: 5px 2px;">
          <br>
          <div >
            <i class="fa-solid fa-envelopes-bulk font-65px" style="color: #ffffff;"></i>
          </div>
          <br>
          <h3>Posts</h3>
          <p>Manage your Posts Details Here</p>
        </div>
        <div class="col-md-1"></div>
      </div>
  </div>
</div>
