<ng-container *ngIf="postDetails$ | async as postDetails; else loading">
	<div class="container" >
		<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
			<div class="h-100 tofront">
				<div class="row justify-content-between">
					<div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
						<p class="text-uppercase">
							Back to
							<a class="text-danger" routerLink="/dashboard/manage-posts">manage-posts</a>
						</p>
						<p class="text-uppercase font-weight-bold">
							<a class="text-danger" >{{postDetails?.category?.catName}}</a>
						</p>
						<h1 class="display-4 secondfont mb-3 font-weight-bold">{{postDetails?.title}}</h1>
						<div class="d-flex align-items-center">
							<img class="rounded-circle" src="https://png.pngtree.com/background/20230528/original/pngtree-an-animated-face-of-a-boy-with-headphones-picture-image_2781319.jpg" width="70">
							<small class="ml-2">Maaz Khan <span class="text-muted d-block">{{postDetails?.updatedAt | date}}</span>
							</small>
						</div>
					</div>
					<div class="col-md-6 pr-0">
						<img src="{{postImageUrl}}{{postDetails?.postImgPath}}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Header -->

	<!--------------------------------------
	MAIN
	--------------------------------------->
	<div class="container pt-4 pb-4">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-12">
				<article style="text-align: justify;" class="article-post" [innerHTML]="postDetails?.content">

				</article>
			</div>
		</div>
	</div>
</ng-container>
<ng-template #loading>
	<br>
	<br>
	<app-loading-spinner></app-loading-spinner>
  </ng-template>
